.label {
	-fx-font-size: 30px;
		font-size: 30px;
	-fx-text-alignment: center;
	-fx-text-fill: red;
	-fx-font-weight: bold;
		font-weight: bold;
	-fx-vertical-align: center;
		vertical-align: center;
}